.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basketName {
    color: #fff;
}

.basketBody {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    padding-right: 2rem;
}

.basketBody::-webkit-scrollbar {
    width: 1rem;
}

.basketBody::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.basketBody::-webkit-scrollbar-thumb {
    background-color: #2196F3;
}

.basketBody > div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.basketBody > div:last-child {
    border: none;
}

.basketSum {
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    border: 1px solid #1e88e5;
    padding: .6rem 1.6rem;
}

.basketSum span {
    color: #1e88e5;
    padding: 0rem 1.6rem  0rem .4rem;
    border-radius: .2rem;
}

.basketControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4rem;
}

.buttonCheckOut {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonCheckOut span {
    margin-right: 1rem;
}