.container {
	width: 100%;
	height: calc(100% - 80px);
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	
}




.formAdduser {
	width: 50%;
}


.sendBtn {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sendBtn i {
	margin-left: .6rem;
}

