.tableContainer {
    width: 100%;
}

.tableHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 100px  100px;
    color: white;
    margin-bottom: 2rem;
    border-bottom: 1px solid #1e88e563;
    margin-top: 2rem;
    padding: .4rem 0 1rem 0;
    font-size: .9rem;
    align-items: center;
}

.tableHeader span {
    text-align: center;
}

.tableHeader span:first-child {
    text-align: left;
}







