.formContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fieldsBody >  div {
    margin-bottom: 2rem !important;
}

.header {
    color: #fff;
    margin-bottom: 4rem;
}

.fieldsBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}