.container {
    background-color: #171717;
    width: 20%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.form {
    width: 100%;
}

.btns {
    margin-top: 2rem !important;
    display: flex;
    justify-content:flex-end;
}

.inputContainer {
    margin-bottom: 2rem !important;
    width: 100% !important;
}

.header {
    color: #fff;
    margin-bottom: 3rem;
}

.iconColor {
    color: #fff;
    font-size: 1.6rem !important;
}

